
*,
html {
  --text-color: #f1f1f1;
  --orange-01: #e76425;
  --orange-01-50: rgba(231, 98, 37, 0.8);
  --bg-home: #1b262c;
}

:root {
  --bg-home: #1b262c;
  --text-color: #f1f1f1;
  --orange-01: #e76425;
  --orange-01-50: rgba(231, 98, 37, 0.8);
}

/* Works on Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--orange-01) #f1f1f1;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: var(--orange-01);
  border-radius: 20px;
  border: 2px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--orange-01-50);
}

.text-orange-1 {
  color: var(--orange-01);
}

.bg-orange-1 {
  background: var(--orange-01);
}

.bb-orange-1 {
  border-bottom: 4px solid var(--orange-01);
}

.pointer {
  cursor: pointer;
}

.e-content {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--bg-home);
  color: var(--text-color);
}

.banner-img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.login {
  animation: scale 0.5s normal 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .banner-img {
    height: auto;
  }
}

.navigation-arrow {
  padding: 0.35rem 0.5rem;
  background: var(--orange-01);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navigation-arrow:hover,
.navigation-arrow:focus {
  background: var(--orange-01-50);
}
.card-news {
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card-news:hover,
.card-news:focus {
  transform: scale(1.01);
}
